@font-face {
    font-family: 'TTTTravels';
    src: local(''), url('fonts/TTTravels-DemiBold.woff2') format('woff2'), url('fonts/TTTravels-DemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'TTTTravels';
    src: local(''), url('fonts/TTTravels-Regular.woff2') format('woff2'), url('fonts/TTTravels-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
