$colorBtn: #7295FD;
$borderRadius: 20px;
$colorRed: #e51a2e;
$colorOnahau: #CAE2FF;
$colorJordyBlue: #82B5F2;
$colorWhite: #ffff;
$colorWoodSmoke: #0E100F;
$colorBrightSun: #FFD347;
$colorChino: #CEC7A7;
$colorCoffee: #706555;

$mobileBreakpoint: 630px;
$smtabletBreakpoint: 720px;
$tabletBreakpoint: 1024px;
$smDekstopBreakpoint: 1280px;

@mixin smdekstop {
    @media screen and (max-width : $smDekstopBreakpoint) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width : $tabletBreakpoint) {
        @content;
    }
}

@mixin smtablet {
    @media screen and (max-width : $smtabletBreakpoint) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width : $mobileBreakpoint) {
        @content;
    }
}
